*{
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: url(backgroundimage.jpg);
    /* background-color: gray; */
    /* background-repeat: no-repeat; */
    /* filter: blur(50px); */
    /* height: 4544px */
}
#nav{
    display:flex;
    position: fixed;
}


#nav::before{
    content: "";
    background-color: grey;
    position: absolute;
    height: 100%;
    width: 103%;
    z-index: -1;
    /* opacity: 0.4; */
    border-radius: 50px;
}
.list{
    display: flex;
    
}
.listi{
    font-weight: bold;
    font-size: 20px;
}
.list li{
    list-style: none;
}
.listi:hover{
    cursor: pointer;
    border: 5px;

    border-style: solid;
    /* border-color: white; */
    border-radius: 25px;
    /* border-width: 25px; */
    
}
#home{
    display: flex;
}
#tex{
    margin-left: 75px;
    margin-top: 175px;
    font-size: 50px;
   
}
.insurimp{
    font-size: 25px;
}